<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlogHub</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body style="background-color: #eee;">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Written Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addpost">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comments">Comments</a>
        </li>     
      </ul>

        <a  href="/logout" class="btn btn-danger" type="submit">Logout</a>

    </div>
  </div>
</nav>

<section class="h-100 gradient-form" >
  
<div class="container mt-5 ">
      <div class="table-responsive">
      <h1>List Of Comments</h1>
				    <table class="table table-hover ">
				  <thead class="table-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Email</th>
				      <th scope="col">Comments</th>
				      <th scope="col">Post Created Date</th>
				      <th scope="col">Action</th>
				      
				    </tr>
				  </thead>
				  <tbody class=" table-group-divider">
				    <tr th:each ="comment: ${commentsList}">
				      <th th:text="${commentStat.index+1}">1</th>
				      <td th:text="${comment.email}"></td>
				      <td th:text="${comment.commentContent}"></td>
				      <td th:text="${comment.createdOn}"></td>
				      <td>
				      <a th:href="@{/delete(commentId=${comment.commentId})}" class="btn btn-danger p-1">Delete</a>			           
				      </td>
				      
				    </tr>
				  </tbody>
				</table>
	 </div>
				
 </div>


</section>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>