<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlogHub</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<script >
  $(document).ready(function(){
	  $("#searchBox").on("keyup", function(){
		  let key = $(this).val();
		  $.ajax({
			  type:"GET",
			  url:"searchBlogByUser",
			  data:{ keyword:key },
			  success : function(result){
                    $("#unfilteredDiv").hide();
                    $("#filterDiv").html(result);
      			  }			  
		  });		  
	  });	  
  });

</script>


</head>
<body style="background-color: #eee;">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Written Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addpost">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comments">Comments</a>
        </li>     
      </ul>

		<div class="d-flex flex-grow-1 justify-content-end me-5">
		    
		    <div class="input-group input-group-sm w-100" style="max-width: 350px;">
		        <input type="search" class="form-control" placeholder="Search Blog" id="searchBox">
		
		        <span class="input-group-text">
		            <i class="bi bi-search"></i>
		        </span>
		    </div>

</div>

        <a  href="/logout" class="btn btn-danger" type="submit">Logout</a>

    </div>
  </div>
</nav>

<section class="h-100 gradient-form" >
  
<div class="container mt-5 ">

		<div id="filterDiv">
		
		</div>

      <div class="table-responsive" id="unfilteredDiv">
      <h1>List Of Blogs</h1>
				    <table class="table table-hover ">
				  <thead class="table-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Post Title</th>
				      <th scope="col">Post Short Decsription </th>
				      <th scope="col">Post Created On</th>
				      <th scope="col">Action</th>
				      
				    </tr>
				  </thead>
				  <tbody class=" table-group-divider">
				    <tr th:each="blog: ${listOfBlogs }">
				      <th th:text="${blogStat.index+1}">1</th>
				      <td th:text="${blog.blogTitle}"></td>
				      <td th:text="${blog.shortDescription}"></td>
				      <td th:text="${blog.creationDate}"></td>
				      
				      <td > <a th:href="@{/editBlog(blogId=${blog.blogId})}">Edit</a> 
				      
				      <form th:action="@{/deleteBlog}" method="post">
				        <input type="hidden" id="blogId" name="blogId"  th:value="${blog.blogId}" style="display:inline;"/>
				        <button type="submit" class="btn btn-danger btn-sm"
        					onclick="return confirm('Are you sure to delete?')">
						    Delete
						</button>			        
				      </form>			      
				      </td>
				    </tr>				    
				  </tbody>
				</table>
	 </div>
				
 </div>


</section>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>