<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlogHub</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body style="background-color: #eee;">


<section class="h-100 gradient-form" >
  

<div class="container mt-5 col-md-5 ">
<h3 class="text-center">Create Account</h3>
	<div class="border  border-primary rounded border-3 p-3 bg-primary-subtle " >
		 <div class="row justify-content-center ">
						<form th:action="@{/login}" th:object="${regForm}" method="post">
						
						  <div th:if="${succMsg}" class ="alert alert-success">
						  <span th:text="${succMsg}"> </span>
						  </div>
						  
						  <div th:if="${errMsg}" class ="alert alert-danger">
						  <span th:text="${errMsg}"> </span>
						  </div>
						
						  <div class="mb-3 mt-3">
						    <label for="firstnameId" class="form-label">First Name</label>
						    <input type="text" class="form-control" id="firstnameId"  th:field="*{firstName}">
						  </div>
						  
						  <div class="mb-3">
						    <label for="lastnameId" class="form-label">Last Name</label>
						    <input type="text" class="form-control" id="lastnameId" th:field="*{lastName}">
						  </div>
						  
						  <div class="mb-3">
						    <label for="emailId" class="form-label">Email address</label>
						    <input type="email" class="form-control" id="emailId"  th:field="*{email}">
						    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
						  </div>
						  <div class="mb-3">
						    <label for="passwordId" class="form-label">Password</label>
						    <input type="password" class="form-control" id="passwordId" th:field="*{password}">
						  </div>
						  <div class="d-flex align-items-center justify-content-center pb-2">
						  			  <button type="submit" class="btn btn-primary">Submit</button>						    
						  </div>
						  
						</form>
		</div>
	</div>
</div>

</section>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>